<!DOCTYPE html>
  <html>
   <head>
    <meta charset="UTF-8" />
    <title>计算属性-methods</title>
    <script  src="vue.js"></script>
   </head>
   <body>
    <div id="root">
       姓：<input type="text" v-model='firstName'><br/>
       名：<input type="text" v-model='lastName'><br/>
       全名：<span>{{fullName}}</span>  
    </div>
   </body>
  
   <script>
    Vue.config.productionTip = false
         
    const vm= new Vue({
       el:'#root',
       data:{
          firstName:'张',
          lastName:'三',
          fullName:'张-三'
         },
       watch:{
         firstName(newValue,oldValue){
            this.fullName=newValue+'-'+this.lastName
         },
         lastName(newValue,oldValue){
            this.fullName=this.firstName+'-'+newValue  
       }
      },
    })
         
   </script>
  </html>